<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url="^index$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 2" stopProcessing="true">
                    <match url="^welcome$" ignoreCase="false" />
                    <action type="Rewrite" url="index.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 3" stopProcessing="true">
                    <match url="^links$" ignoreCase="false" />
                    <action type="Rewrite" url="link.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 4" stopProcessing="true">
                    <match url="^invite$" ignoreCase="false" />
                    <action type="Rewrite" url="invite.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 5" stopProcessing="true">
                    <match url="^u/all$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action=all" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 6" stopProcessing="true">
                    <match url="^u/message/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action=message&amp;page={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 7" stopProcessing="true">
                    <match url="^u/message$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action=message" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 8" stopProcessing="true">
                    <match url="^u/(\d+)/group/s(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action=group&amp;uid={R:1}&amp;sort={R:2}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 9" stopProcessing="true">
                    <match url="^u/(\d+)/group/s(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action=group&amp;uid={R:1}&amp;sort={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 10" stopProcessing="true">
                    <match url="^u/([a-z]+)/([a-z]+)/(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action={R:1}&amp;{R:2}={R:3}&amp;page={R:4}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 11" stopProcessing="true">
                    <match url="^u/([a-z]+)/([a-z]+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action={R:1}&amp;{R:2}={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 12" stopProcessing="true">
                    <match url="^u/(\d+)/([a-z]+)/t(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action={R:2}&amp;uid={R:1}&amp;type={R:3}&amp;page={R:4}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 13">
                    <match url="^u/(\d+)/([a-z]+)/t(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action={R:2}&amp;uid={R:1}&amp;type={R:3}[QSA,L]" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 14" stopProcessing="true">
                    <match url="^u/(\d+)/([a-z]+)/s(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action={R:2}&amp;uid={R:1}&amp;status={R:3}&amp;page={R:4}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 15">
                    <match url="^u/(\d+)/([a-z]+)/s(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action={R:2}&amp;uid={R:1}&amp;status={R:3}[QSA,L]" appendQueryString="false" />
                </rule>
                <rule name="Imported Rule 16" stopProcessing="true">
                    <match url="^u/(\d+)/([a-z]+)/([a-z]+)/([a-z]+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action={R:2}&amp;uid={R:1}&amp;type={R:3}&amp;sort={R:4}&amp;page={R:5}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 17" stopProcessing="true">
                    <match url="^u/(\d+)/([a-z]+)/([a-z]+)/([a-z]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action={R:2}&amp;uid={R:1}&amp;type={R:3}&amp;sort={R:4}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 18" stopProcessing="true">
                    <match url="^u/(\d+)/([a-z]+)/([a-z]+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action={R:2}&amp;uid={R:1}&amp;type={R:3}&amp;page={R:4}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 19" stopProcessing="true">
                    <match url="^u/(\d+)/([a-z]+)/([a-z]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action={R:2}&amp;uid={R:1}&amp;type={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 20" stopProcessing="true">
                    <match url="^u/(\d+)/([a-z]+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action={R:2}&amp;uid={R:1}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 21" stopProcessing="true">
                    <match url="^u/(\d+)/([a-z]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action={R:2}&amp;uid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 22" stopProcessing="true">
                    <match url="^u/(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action=index&amp;uid={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 23" stopProcessing="true">
                    <match url="^u/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action=index&amp;uid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 24" stopProcessing="true">
                    <match url="^me$" ignoreCase="false" />
                    <action type="Rewrite" url="u.php?action=me" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 25" stopProcessing="true">
                    <match url="^group/create$" ignoreCase="false" />
                    <action type="Rewrite" url="group.php?action=create" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 26" stopProcessing="true">
                    <match url="^group/edit/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="group.php?action=edit&amp;fid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 27" stopProcessing="true">
                    <match url="^group/best/(\d+)/([a-z]+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="group.php?action=detail&amp;type=best&amp;fid={R:1}&amp;sort={R:2}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 28" stopProcessing="true">
                    <match url="^group/best/(\d+)/([a-z]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="group.php?action=detail&amp;type=best&amp;fid={R:1}&amp;sort={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 29" stopProcessing="true">
                    <match url="^group/best/(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="group.php?action=detail&amp;type=best&amp;fid={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 30" stopProcessing="true">
                    <match url="^group/best/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="group.php?action=detail&amp;type=best&amp;fid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 31" stopProcessing="true">
                    <match url="^group/users/(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="group.php?action=users&amp;fid={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 32" stopProcessing="true">
                    <match url="^group/users/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="group.php?action=users&amp;fid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 33" stopProcessing="true">
                    <match url="^group/users$" ignoreCase="false" />
                    <action type="Rewrite" url="group.php?action=users" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 34" stopProcessing="true">
                    <match url="^group/apply/(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="group.php?action=apply&amp;fid={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 35" stopProcessing="true">
                    <match url="^group/apply/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="group.php?action=apply&amp;fid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 36" stopProcessing="true">
                    <match url="^group/apply$" ignoreCase="false" />
                    <action type="Rewrite" url="group.php?action=apply" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 37" stopProcessing="true">
                    <match url="^group/(\d+)/([a-z]+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="group.php?action=detail&amp;fid={R:1}&amp;sort={R:2}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 38" stopProcessing="true">
                    <match url="^group/(\d+)/([a-z]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="group.php?action=detail&amp;fid={R:1}&amp;sort={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 39" stopProcessing="true">
                    <match url="^group/(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="group.php?action=detail&amp;fid={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 40" stopProcessing="true">
                    <match url="^group/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="group.php?action=detail&amp;fid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 41" stopProcessing="true">
                    <match url="^group$" ignoreCase="false" />
                    <action type="Rewrite" url="group.php?action=index" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 42" stopProcessing="true">
                    <match url="^topic/create/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="topic.php?action=create&amp;fid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 43" stopProcessing="true">
                    <match url="^topic/edit/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="topic.php?action=edit&amp;tid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 44" stopProcessing="true">
                    <match url="^topic/detail/(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="topic.php?action=detail&amp;tid={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 45" stopProcessing="true">
                    <match url="^topic/detail/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="topic.php?action=detail&amp;tid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 46" stopProcessing="true">
                    <match url="^book/shopping/s(\d+)/([^\/]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=shopping&amp;sid={R:1}&amp;tag={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 47" stopProcessing="true">
                    <match url="^book/shopping/s(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=shopping&amp;sid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 48" stopProcessing="true">
                    <match url="^book/shopping/(new|hot1|hot7)/([^\/]+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=shopping&amp;sort={R:1}&amp;tag={R:2}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 49" stopProcessing="true">
                    <match url="^book/shopping/(new|hot1|hot7)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=shopping&amp;sort={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 50" stopProcessing="true">
                    <match url="^book/shopping/(new|hot1|hot7)/([^\/]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=shopping&amp;sort={R:1}&amp;tag={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 51" stopProcessing="true">
                    <match url="^book/shopping/(new|hot1|hot7)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=shopping&amp;sort={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 52" stopProcessing="true">
                    <match url="^book/shopping/([^\/]+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=shopping&amp;tag={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 53" stopProcessing="true">
                    <match url="^book/shopping/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=shopping&amp;page={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 54" stopProcessing="true">
                    <match url="^book/shopping/([^\/]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=shopping&amp;tag={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 55" stopProcessing="true">
                    <match url="^book/shopping$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=shopping" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 56" stopProcessing="true">
                    <match url="^book/([a-z0-9]+)/g(\d+)/s(\d+)/(new|hot1|hot7)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;gid={R:2}&amp;sid={R:3}&amp;sort={R:4}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 57" stopProcessing="true">
                    <match url="^book/([a-z0-9]+)/g(\d+)/s(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;gid={R:2}&amp;sid={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 58" stopProcessing="true">
                    <match url="^book/([a-z0-9]+)/s(\d+)/(new|hot1|hot7)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;sid={R:2}&amp;sort={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 59" stopProcessing="true">
                    <match url="^book/([a-z0-9]+)/s(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;sid={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 60" stopProcessing="true">
                    <match url="^book/([a-z0-9]+)/g(\d+)/(new|hot1|hot7)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;gid={R:2}&amp;sort={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 61" stopProcessing="true">
                    <match url="^book/([a-z0-9]+)/g(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;gid={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 62" stopProcessing="true">
                    <match url="^book/([a-z0-9]+)/g(\d+)/(new|hot1|hot7)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;gid={R:2}&amp;sort={R:3}&amp;page={R:4}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 63" stopProcessing="true">
                    <match url="^book/([a-z0-9]+)/g(\d+)/(new|hot1|hot7)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;gid={R:2}&amp;sort={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 64" stopProcessing="true">
                    <match url="^book/([a-z0-9]+)/g(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;gid={R:2}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 65" stopProcessing="true">
                    <match url="^book/([a-z0-9]+)/g(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;gid={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 66" stopProcessing="true">
                    <match url="^book/([a-z0-9]+)/(new|hot1|hot7)/([^\/]+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;sort={R:2}&amp;tag={R:3}&amp;page={R:4}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 67" stopProcessing="true">
                    <match url="^book/([a-z0-9]+)/(new|hot1|hot7)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;sort={R:2}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 68" stopProcessing="true">
                    <match url="^book/([a-z0-9]+)/(new|hot1|hot7)/([^\/]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;sort={R:2}&amp;tag={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 69" stopProcessing="true">
                    <match url="^book/([a-z0-9]+)/(new|hot1|hot7)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;sort={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 70" stopProcessing="true">
                    <match url="^book/([a-z0-9]+)/([^\/]+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;tag={R:2}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 71" stopProcessing="true">
                    <match url="^book/([a-z0-9]+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 72" stopProcessing="true">
                    <match url="^book/([a-z0-9]+)/([^\/]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}&amp;tag={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 73" stopProcessing="true">
                    <match url="^book/([a-z0-9]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="book.php?action=cate&amp;cate={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 74" stopProcessing="true">
                    <match url="^look/goods/(new|hot1|hot7)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="look.php?action=index&amp;type=goods&amp;sort={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 75" stopProcessing="true">
                    <match url="^look/goods/(new|hot1|hot7)$" ignoreCase="false" />
                    <action type="Rewrite" url="look.php?action=index&amp;type=goods&amp;sort={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 76" stopProcessing="true">
                    <match url="^look/goods/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="look.php?action=index&amp;type=goods&amp;page={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 77" stopProcessing="true">
                    <match url="^look/goods$" ignoreCase="false" />
                    <action type="Rewrite" url="look.php?action=index&amp;type=goods" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 78" stopProcessing="true">
                    <match url="^look/(new|hot1|hot7)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="look.php?action=index&amp;sort={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 79" stopProcessing="true">
                    <match url="^look/(new|hot1|hot7)$" ignoreCase="false" />
                    <action type="Rewrite" url="look.php?action=index&amp;sort={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 80" stopProcessing="true">
                    <match url="^look/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="look.php?action=index&amp;page={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 81" stopProcessing="true">
                    <match url="^look$" ignoreCase="false" />
                    <action type="Rewrite" url="look.php?action=index" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 82" stopProcessing="true">
                    <match url="^dapei/goods/(new|hot1|hot7)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="dapei.php?action=index&amp;type=goods&amp;sort={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 83" stopProcessing="true">
                    <match url="^dapei/goods/(new|hot1|hot7)$" ignoreCase="false" />
                    <action type="Rewrite" url="dapei.php?action=index&amp;type=goods&amp;sort={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 84" stopProcessing="true">
                    <match url="^dapei/goods/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="dapei.php?action=index&amp;type=goods&amp;page={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 85" stopProcessing="true">
                    <match url="^dapei/goods$" ignoreCase="false" />
                    <action type="Rewrite" url="dapei.php?action=index&amp;type=goods" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 86" stopProcessing="true">
                    <match url="^dapei/(new|hot1|hot7)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="dapei.php?action=index&amp;sort={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 87" stopProcessing="true">
                    <match url="^dapei/(new|hot1|hot7)$" ignoreCase="false" />
                    <action type="Rewrite" url="dapei.php?action=index&amp;sort={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 88" stopProcessing="true">
                    <match url="^dapei/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="dapei.php?action=index&amp;page={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 89" stopProcessing="true">
                    <match url="^dapei$" ignoreCase="false" />
                    <action type="Rewrite" url="dapei.php?action=index" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 90" stopProcessing="true">
                    <match url="^note/(\d+)/(g|m)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="note.php?action={R:2}&amp;sid={R:1}&amp;id={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 91" stopProcessing="true">
                    <match url="^note/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="note.php?action=index&amp;sid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 92" stopProcessing="true">
                    <match url="^medal/u/uid/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="medal.php?action=u&amp;uid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 93" stopProcessing="true">
                    <match url="^medal/apply/mid/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="medal.php?action=apply&amp;mid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 94" stopProcessing="true">
                    <match url="^medal/index/type/(\d+)/uid/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="medal.php?action=index&amp;type={R:1}&amp;uid={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 95" stopProcessing="true">
                    <match url="^medal/index/type/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="medal.php?action=index&amp;type={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 96" stopProcessing="true">
                    <match url="^medal/index/uid/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="medal.php?action=index&amp;uid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 97" stopProcessing="true">
                    <match url="^medal$" ignoreCase="false" />
                    <action type="Rewrite" url="medal.php?action=index" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 98" stopProcessing="true">
                    <match url="^daren/(look|dapei|group|album)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="daren.php?action={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 99" stopProcessing="true">
                    <match url="^daren/(look|dapei|group|album)$" ignoreCase="false" />
                    <action type="Rewrite" url="daren.php?action={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 100" stopProcessing="true">
                    <match url="^daren/apply$" ignoreCase="false" />
                    <action type="Rewrite" url="daren.php?action=apply" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 101" stopProcessing="true">
                    <match url="^daren$" ignoreCase="false" />
                    <action type="Rewrite" url="daren.php?action=index" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 102" stopProcessing="true">
                    <match url="^album/category/c(\d+)/(hot|new)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=category&amp;id={R:1}&amp;sort={R:2}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 103" stopProcessing="true">
                    <match url="^album/category/c(\d+)/(hot|new)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=category&amp;id={R:1}&amp;sort={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 104" stopProcessing="true">
                    <match url="^album/category/c(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=category&amp;id={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 105" stopProcessing="true">
                    <match url="^album/category/c(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=category&amp;id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 106" stopProcessing="true">
                    <match url="^album/show/a(\d+)/s(\d+)/t(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=show&amp;id={R:1}&amp;sid={R:2}&amp;type={R:3}&amp;page={R:4}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 107" stopProcessing="true">
                    <match url="^album/show/a(\d+)/s(\d+)/t(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=show&amp;id={R:1}&amp;sid={R:2}&amp;type={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 108" stopProcessing="true">
                    <match url="^album/show/a(\d+)/s(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=show&amp;id={R:1}&amp;sid={R:2}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 109" stopProcessing="true">
                    <match url="^album/show/a(\d+)/t(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=show&amp;id={R:1}&amp;type={R:2}&amp;page={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 110" stopProcessing="true">
                    <match url="^album/show/a(\d+)/s(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=show&amp;id={R:1}&amp;sid={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 111" stopProcessing="true">
                    <match url="^album/show/a(\d+)/t(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=show&amp;id={R:1}&amp;type={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 112" stopProcessing="true">
                    <match url="^album/show/a(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=show&amp;id={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 113" stopProcessing="true">
                    <match url="^album/show/a(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=show&amp;id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 114" stopProcessing="true">
                    <match url="^album/(hot|new)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=index&amp;sort={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 115" stopProcessing="true">
                    <match url="^album/(hot|new)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=index&amp;sort={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 116" stopProcessing="true">
                    <match url="^album/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=index&amp;page={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 117" stopProcessing="true">
                    <match url="^album/edit/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php?action=edit&amp;id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 118" stopProcessing="true">
                    <match url="^album$" ignoreCase="false" />
                    <action type="Rewrite" url="album.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 119" stopProcessing="true">
                    <match url="^shop/c(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="shop.php?action=index&amp;cid={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 120" stopProcessing="true">
                    <match url="^shop/c(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="shop.php?action=index&amp;cid={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 121" stopProcessing="true">
                    <match url="^shop/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="shop.php?action=index&amp;page={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 122" stopProcessing="true">
                    <match url="^shop/show/s(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="shop.php?action=show&amp;id={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 123" stopProcessing="true">
                    <match url="^shop/show/s(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="shop.php?action=show&amp;id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 124" stopProcessing="true">
                    <match url="^shop$" ignoreCase="false" />
                    <action type="Rewrite" url="shop.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 125" stopProcessing="true">
                    <match url="^exchange/info/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="exchange.php?action=info&amp;id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 126" stopProcessing="true">
                    <match url="^exchange/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="exchange.php?action=index&amp;page={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 127" stopProcessing="true">
                    <match url="^exchange$" ignoreCase="false" />
                    <action type="Rewrite" url="exchange.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 128" stopProcessing="true">
                    <match url="^event/(\d+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="event.php?action=detail&amp;id={R:1}&amp;page={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 129" stopProcessing="true">
                    <match url="^event/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="event.php?action=detail&amp;id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 130" stopProcessing="true">
                    <match url="^event/(\w+)/(\w+)$" ignoreCase="false" />
                    <action type="Rewrite" url="event.php?action={R:1}&amp;type={R:2}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 131" stopProcessing="true">
                    <match url="^event/(\w+)/(\w+)/(\w+)$" ignoreCase="false" />
                    <action type="Rewrite" url="event.php?action={R:1}&amp;type={R:2}&amp;order={R:3}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 132" stopProcessing="true">
                    <match url="^event/(\w+)/(\w+)/(\w+)/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="event.php?action={R:1}&amp;type={R:2}&amp;order={R:3}&amp;page={R:4}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 133" stopProcessing="true">
                    <match url="^event/(\w+)$" ignoreCase="false" />
                    <action type="Rewrite" url="event.php?action={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 134" stopProcessing="true">
                    <match url="^event$" ignoreCase="false" />
                    <action type="Rewrite" url="event.php" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 135" stopProcessing="true">
                    <match url="^adv/(\d+)$" ignoreCase="false" />
                    <action type="Rewrite" url="adv.php?action=show&amp;id={R:1}" appendQueryString="true" />
                </rule>
                <rule name="Imported Rule 136" stopProcessing="true">
                    <match url="^([a-z]+)/([a-z]+)$" ignoreCase="false" />
                    <action type="Rewrite" url="{R:1}.php?action={R:2}" appendQueryString="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
