#ye_dialog_window {
    background-color: #FFFFFF;
    border: 3px solid #CCCCCC;
    box-shadow: 0 0 10px #777777;
    display: none;
    left: 50%;
    padding-bottom: 15px;
    position: fixed;
    top: 50%;
    width: 300px;
    z-index: 1002;
}
* html #ye_dialog_window {
    position: absolute;
}
#ye_dialog_window_w {
    left: -3px;
    position: relative;
    top: -3px;
}
#ye_dialog_title {
    background: url("/tpl/happy/images/pagebg.gif") repeat-x scroll 0 0 transparent;
    color: #333333;
    font-family: "微软雅黑";
    font-size: 16px;
    font-weight: bold;
    height: 34px;
    line-height: 34px;
    margin-bottom: 10px;
    padding: 5px 13px;
    text-align: left;
}
#ye_dialog_body {
    position: relative;
    width: 100%;
}
#ye_dialog_iframe {
    border: 0 none;
    height: 100%;
    width: 100%;
}
#ye_dialog_close {
    background: url("/tpl/happy/images/close.gif") no-repeat scroll 0 0 transparent;
    color: #000000;
    display: block;
    height: 13px;
    position: absolute;
    right: 9px;
    text-decoration: none;
    top: 12px;
    width: 13px;
}
#ye_dialog_close:hover {
    background-position: 0 -12px;
}
.ye_msg_window {
    left: 50%;
    padding: 0;
    position: fixed;
    top: 50%;
    width: 250px;
    z-index: 99999;
}
* html .ye_msg_window {
    position: absolute;
}
.ye_msg_wrap {
    background-color: #FFFFFF;
    border: 1px solid #666666;
    box-shadow: 0 0 10px #777777;
    font-size: 14px;
    padding: 10px 20px;
    text-align: left;
}
.ye_msg_autoclose {
    color: #666666;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    text-align: left;
}
.ye_msg_ico_1, .ye_msg_ico_2, .ye_msg_ico_3, .ye_msg_ico_4, .ye_msg_ico_5 {
    background: none no-repeat scroll 20px center #FFFFFF;
    padding-left: 90px;
}
.ye_msg_ico_1 {
    background-image: url("/tpl/happy/images/dialog_msgtype_ico_1.gif");
}
.ye_msg_ico_2 {
    background-image: url("/tpl/happy/images/dialog_msgtype_ico_2.gif");
}
.ye_msg_ico_3 {
    background-image: url("/tpl/happy/images/dialog_msgtype_ico_3.gif");
}
.ye_msg_ico_4 {
    background-image: url("/tpl/happy/images/dialog_msgtype_ico_4.gif");
}
.ye_msg_ico_5 {
    background-image: url("/tpl/happy/images/dialog_msgtype_ico_5.gif");
}